<!doctype html>
<html class="no-js" lang="" ng-app='app'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Angular Chess Viewer</title>
        <meta name="description" content="Another Angular Pgn Chess Viewer">
        <meta name="author" content="coding-neat">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="bower_components/chessboard.js/src/css/chessboard.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/my.css">
    </head>
    <body ng-controller="main as vm">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">

            <div id="header">
                <h1>ANGULAR PGN CHESS VIEWER</h1>
            </div>

            <div  id='game'>
                <nywton-chessboard board="boardA"  data-nywton-chessboard-autoresize data-draggable="false"></nywton-chessboard>

                <div>
                    <span id="white">{{vm.data.white}}</span>
                    <span id="whiteElo">{{vm.data.whiteElo}}</span> -
                    <span id="black">{{vm.data.black}}</span> 
                    <span id="blackElo">{{vm.data.blackElo}}</span> 
                    <br> 
                    <span id="event"></span>  
                    <span id="site">{{vm.data.site}}</span>  
                    <span id="round">{{vm.data.round}}</span>  
                    <span id="date"></span>{{vm.data.date}}
                </div>
            </div>

            <div id='text'>
                <div id='notation'>
                   <div style="text-align:center">
                       <div ng-class="{blue: $index == vm.pos-1}" style="width:50%;display:inline-block;margin:5px 0" ng-repeat="not in vm.notation track by $index">
                         <a href="javascript:void(0)" class="move"  ng-click="vm.move($index+1)">{{not}}</a>
                       </div>
                   </div>
                </div>

                <div id='control'>
                    <button ng-click="vm.start()">Start</button>     
                    <button ng-click="vm.prev()">Prev</button> 
                    <button ng-click="vm.next()">Next</button>
                    <button ng-click="vm.end()">End</button> 
                </div>

                <textarea ng-model="vm.text"></textarea>
                <br>
                <button ng-click="vm.save(vm.text)">Save</button> 
                <br>
                <br>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-git2.min.js"></script>
        <script src="bower_components/chessboard.js/src/js/chessboard.js"></script>
        <script src="bower_components/chess.js/chess.js"></script> 
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-chessboard/src/angular-chessboard.js"></script>
        <script src="js/util.js"></script>
        <script src="js/app.js"></script>

    </body>
</html>
